doctype html
html
 head
  title Blockchain Profile
  body
    div(class='main-content')
        h1 Blockchain User Profile
        a(href='/api/myprofile')  View your Profile
        br
        a(href='/api/createcar')  View Blockchain Info
